/* Navbar Styles */
.navbar {
  background-color: #4B0082; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 70px; /* Adjusted height for a moderate thin navbar */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 80px; 
  height: fit-content;
  margin-right: 10px; 
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  font-family: 'Courier New', Courier, monospace; 
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease, backdrop-filter 0.3s ease;
  text-decoration: none; 
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  transform: scale(1.05); 
}
